<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
	                         http://www.springframework.org/schema/context
	                         http://www.springframework.org/schema/context/spring-context.xsd
	                         http://www.springframework.org/schema/mvc
	                         http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName" default-lazy-init="false">
  <!--启动@AspectJ支持-->
  <aop:aspectj-autoproxy proxy-target-class="true"/>
  
  <!-- 开启注解 ,需要如下两个类 -->
  <context:annotation-config/>
  <mvc:annotation-driven/>

  <!-- 自动扫描该包 -->
  <context:component-scan base-package="com.youngliu">
    <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
  </context:component-scan>

</beans>